button {
    width: 250px;
    height: 80px;
    font-family: Roboto, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: navy;
    color: aliceblue;
}

.click-button {
    background-color: green;
}

.restart-button {
    background-color: crimson;
}

